<section class="hero-asesor">
  <div class="hero-overlay">
    <h1>Conoce A Tu Asesor</h1>
  </div>
  <img class="hero-imagen" src="imagenes/conoceatuasesor.jpg" alt="Asesores Profesionales">
</section>


<section class="asesores">
  <h1>San Pedro Sula</h1>
  <div class="ciudad">
    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesor1.jpg" alt="Foto de José Martínez">
      </div>
      <div class="asesor-contenido">
        <h2>José Martínez</h2>
        <p class="titulo">Asesor Comercial</p>
        <p><span>Anexo:</span> 1012</p>
        <p><span>Email:</span> <a href="mailto:jose.martinez@alas.com">jose.martinez@alas.com</a></p>
      </div>
    </article>

    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesora1.jpg" alt="Foto de María López">
      </div>
      <div class="asesor-contenido">
        <h2>María López</h2>
        <p class="titulo">Asesora Comercial</p>
        <p><span>Anexo:</span> 1013</p>
        <p><span>Email:</span> <a href="mailto:maria.lopez@alas.com">maria.lopez@alas.com</a></p>
      </div>
    </article>

    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesor2.jpg" alt="Foto de Carlos Gómez">
      </div>
      <div class="asesor-contenido">
        <h2>Carlos Gómez</h2>
        <p class="titulo">Asesor Financiero</p>
        <p><span>Anexo:</span> 1014</p>
        <p><span>Email:</span> <a href="mailto:carlos.gomez@alas.com">carlos.gomez@alas.com</a></p>
      </div>
    </article>
  </div>

  <h1>Tegucigalpa</h1>
  <div class="ciudad">
    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesora2.jpg" alt="Foto de Ana Rivera">
      </div>
      <div class="asesor-contenido">
        <h2>Ana Rivera</h2>
        <p class="titulo">Asesora de Seguros</p>
        <p><span>Anexo:</span> 1015</p>
        <p><span>Email:</span> <a href="mailto:ana.rivera@alas.com">ana.rivera@alas.com</a></p>
      </div>
    </article>

    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesor3.jpg" alt="Foto de Luis Fernández">
      </div>
      <div class="asesor-contenido">
        <h2>Luis Fernández</h2>
        <p class="titulo">Asesor Legal</p>
        <p><span>Anexo:</span> 1016</p>
        <p><span>Email:</span> <a href="mailto:luis.fernandez@alas.com">luis.fernandez@alas.com</a></p>
      </div>
    </article>

    <article class="asesor-card">
      <div class="asesor-imagen">
        <img src="imagenes/asesora3.jpg" alt="Foto de Rosa Aguilar">
      </div>
      <div class="asesor-contenido">
        <h2>Rosa Aguilar</h2>
        <p class="titulo">Asesora Administrativa</p>
        <p><span>Anexo:</span> 1017</p>
        <p><span>Email:</span> <a href="mailto:rosa.aguilar@alas.com">rosa.aguilar@alas.com</a></p>
      </div>
    </article>
  </div>
</section>
