 <section class="cards_">
        <div class="card_">
            <h2>Nuestra Misión</h2>
            <p>La misión de Alas seguros es proporcionar protección financiera y tranquilidad a nuestros clientes mediante productos de seguros de alta calidad. Nos esforzamos por ser lideres en el saector asegurador, brindando un servicio excepcional y personalizado</p>
        </div>
        <div class="card_">
            <h2>Nuestros Valores</h2>
            <p><strong>Compromiso</strong>  – Estamos a tu lado en todo momento. <br>
            <strong>Confianza –</strong>  Construimos relaciones basadas en la transparencia y la honestidad. <br>
            <strong>Innovación –</strong>  Adaptamos nuestras soluciones a un mundo en constante cambio. <br>
            <strong>Excelencia en el servicio -</strong> Nuestro equipo está siempre listo para atenderte con calidez y profesionalismo.</p>
        </div>
        <div class="card_">
            <h2>Nuestra Visión</h2>
            <p>Ser la empresa de seguros líder en el mercado, reconocida por nuestra ética, transparencia, compromiso e innovacion con el bienestar de nuestros asegurados a través de la tecnologia y la sostenibilidad.</p>
        </div>
        
    </section>