<section class="contact-form">
    <h2>Formulario de Contacto</h2>
    <form action="/enviar-mensaje" method="post">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Correo Electrónico" required>
        <input type="text" name="telefono" placeholder="Teléfono" required>
        <textarea name="mensaje" placeholder="Mensaje" required></textarea>
        <button type="submit">Enviar Mensaje</button>
        
    </form>
</section>