<section class="pq_"> 
    <h1>¿Por que elegirnos?</h1>
    <div class="carta_pq">

        <div class="cartas">
            <img src="../imagenes/apreton-de-manos_.png" alt="apreton">
            <h2>Asesoramiento personalizado</h2>
            <p>Le brindamos asesoramiento personalizado en base a sus necesidades y situación particular. Evaluamos sus riesgos y recomendamos las mejores opciones de cobertura, lo que le permitirá tomar decisiones informadas y tomar medidas preventivas para proteger su patrimonio.</p>
        </div>

        <div class="cartas">
             <img src="../imagenes/accidente-automovilistico.png" alt="choque"> 
             <h2>Asistencia en caso de siniestro</h2>
             <p>Si sufre un siniestro, le ofrecemos asistencia para gestionar su reclamo de manera efectiva. Le guiamos en los procedimientos y requisitos necesarios para asegurar una indemnización justa.</p>           
        </div>

        <div class="cartas">
            <img src="../imagenes/lupa.png" alt="ahorro">
            <h2>Ahorro de dinero a largo plazo</h2>
            <p>Podemos recomendarle opciones de cobertura que se ajusten a sus necesidades, evitando pagos por coberturas innecesarias. Además, le ayudamos a identificar descuentos y promociones disponibles, reduciendo así el costo de sus primas de seguros.</p>
        </div>

        <div class="cartas">
            <img src="../imagenes/tiempo.png" alt="tiempo_espera">
            <h2>Ahorro de tiempo y esfuerzo</h2>
            <p>Nos ocupamos de buscar opciones de seguros, comparar precios y coberturas, ahorrándole tiempo y esfuerzo. Así, podrá dedicarse a otras actividades mientras nosotros gestionamos todo el proceso con las aseguradoras.</p>
        </div>
        
    </div>
</section>