 <section class="quienes_son">
                <img src="./imagenes/firma_contr.jpg" alt="heropanel">
                <div class="texto">
                    <h2 class="titu">¿Quines somos?</h2>
                        
                    <p>En Alas Seguros, nos dedicamos a ofrecer soluciones de segiuros que se adaptan a las necesidades de nuestros clientes. Protegemos lo que más te importa. Desde nuestra fundación en 2024, nos hemos comprometido a ofrecer tranquilidad y seguridad a nuestros clientes, brindando soluciones de aseguramiento personalizadas y adaptadas a sus necesidades.
                        <br> <br>
                    Con una sólida trayectoria en el sector, combinamos innovación, confianza y experiencia para ofrecer pólizas de seguros que realmente marcan la diferencia. Nos especializamos en seguros de vida, hogar, automóvil, salud y empresariales, garantizando una cobertura integral en cada etapa de la vida.</p>
                </div>

        </section>