// Variables para colores y otros estilos reutilizables

.contact-form {
    background-color: white;
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    padding: 1.5rem;
    margin-bottom: 2rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    h2 {
        color: @dark-gray;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        input,
        textarea {
            padding: 0.75rem;
            border: 1px solid #ced4da;
            border-radius: @border-radius;
            font-size: 1rem;
            resize: vertical; // Permitir el cambio de tamaño vertical en textarea
        }

        button {
            background-color: @primary-color;
            color: white;
            padding: 0.75rem 1.5rem;
            border: none;
            border-radius: @border-radius;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
            justify-self: center; // Centrar el botón
            width: fit-content; // Ajustar el ancho al contenido

            &:hover {
                background-color: darken(@primary-color, 10%);
            }
        }
    }
}